@import "../../index.scss";

.searchbar-outer {

}

.searchbar-icon-outer {
  border-radius: 0 5rem 5rem 0 !important;
  background-color: lighten($fg-color, 5%);
  color: $font-color;
  border: none;
  border-left: solid 2px transparentize($border-color, 0.3);
  box-shadow: 0px 10px 10px -5px black;
}

.searchbar-input {
  background-color: $fg-color;
  color: $font-color;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: 0px 10px 10px -5px black;
}.searchbar-input:focus{
    background-color: $fg-color;
    color: $font-color;
    box-shadow: 0px 10px 10px -5px black;
 }


.no-box-shadow {
  box-shadow: none !important;
}


@media screen and (max-width: $mobile-px-threshold) {
  .searchbar-outer {
    width: 100% !important;
    margin: 1rem;
  }

}