/* Variables */
$font-color: white;
$bg-color: #03001C;
$fg-color: #2d2b4c;
$border-color: rgba(255, 255, 255, 0.43);

$mobile-px-threshold: 576px;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(90deg,
          $bg-color 0%,
          lighten($bg-color, 3%) 50%,
          $bg-color 100%
  );
  color: $font-color;
  font-family: "Lato", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

text {
  font-family: "Lato", sans-serif;
}



