@import "../../index.scss";

.game-result-card-outer {

}

.game-result-card-inner {
  background-color: $fg-color;
  border-radius: 0.5rem;
}

.game-result-card-icon {
  height: 100px;
  width: 100px;
  background-color: $fg-color;
  border: solid $fg-color 5px;
  border-radius: 0.5rem;
}

.game-result-card-title {

}