@import "../../index.scss";

.deal-card-outer {
  width: 13rem;
  height: 15rem;
  margin: 2rem;
  background-image: linear-gradient(90deg,
          $fg-color 0%,
          lighten($fg-color, 5%) 50%,
          $fg-color 100%
  );
}
.deal-card-outer:first-child {
  border: solid $btn-color 5px;

  >.deal-card-cheapest-text {
    display: inline !important;
    background-color: $btn-color;
    font-family: inherit;
    font-size: 120%;
    font-weight: normal;
    border-radius: 1rem 1rem 0rem 0rem;
  }
}

.deal-card-body {
  background-image: linear-gradient(90deg,
          $fg-color 0%,
          lighten($fg-color, 5%) 50%,
          $fg-color 100%
  );
}

.deal-card-image {
  height: 5rem;
  width: 100%;
  align-self: center;
  object-fit: contain;
}

.deal-card-btn {
  background-color: $btn-color;
  border: none;
}.deal-card-btn:hover {
   background-color: lighten($btn-color, 5%);
 }

.deal-card-retail-price {
  opacity: 0.5;
}